/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
/* 	text-align:center; */
	font-family:Arial, sans-serif;
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
ul{
	list-style-type:none;
	padding0px;
}
li{
	margin: 5px;
}
a{
	text-decoration-line:none;
	color: ;
}
.player_one, .player_two{
	text-align:center;
	background-color:rgb(255, 255, 255);
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
}
ul{
	border-radius: 10px;
	background-color:white;
}